<!--The content below is only a placeholder and can be replaced.-->


<nav class="navbar navbar-expand-lg navbar-light bg-dark ">
  <div class="container">
    <img id="logo" class="navbar-brand" src="../assets/images/github.svg" alt=""> <a class="navbar-brand text-white" routerLink='/my-github' routerLinkActive='active'>GITHUB</a>
    <div id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="list space"><a routerLink='/github' routerLinkActive='active'>Github search</a></li>
        <li class="list"><a routerLink='/repo' routerLinkActive='active'>repositores</a></li>
      </ul>

    </div>

  </div>

</nav>




<router-outlet></router-outlet>
<div class="container">

</div>