.container-fluid img {
  width: 35px;
  height: 35px;
  display: inline;
}

.jumbotron {
  text-align: center;
  margin: auto;
  width: 800px;
}

h1 {
  color: green;
}

.jumbotron img {
  width: 450px;
  height: 450px;
  margin: auto;
  align: center;
}

.space {
  padding: 50px;
}

.container-fluid button {
  float: right;
}

.row {
  text-align: center;
}

.container-fluid form-group {
  display: inline;
}

body {
  background-image: url('logo.png');
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }