<div class="container">
  <div class="container-fluid">
    <form class="search">
      <div class=" form-group">
        <label for="name"> GITHUb SEARCH</label>
        <a href="https://github.com/mangowilliam"><img src="./assets/git.png"></a>
        <input type="search" class="form-control" [(ngModel)]="username" name="username" placeholder=" git name ....." (keyup)="getgit()">
        <button type="button" class="btn btn-success" (click)="(myprofile())">my profile</button>

      </div>
    </form>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class='col-md-4'>
        <div *ngIf="profile">
          <p>{{profile.name}}</p>
          <p><a href="{{profile.html_url}}" target="blank">{{profile.login}}</a></p>
          <img src="{{profile.avatar_url}}" width="200px" height="200px" class="img-circle img-responsive" alt="user-image">
          <ul>
            <li>{{profile.bio}}</li>
            <li>{{profile.blog}}</li>
            <li>{{profile.email}}</li>
            <li>{{profile.url}}</li>
            <li>{{profile.folloers}}</li>
            <li>{{profile.following}}</li>
          </ul>
          <p><a href="{{profile.html_url}}" class="btn btn-success" target="blank">View in Github</a></p>
        </div><br><br><br>
        <div class='col-md-4'>
          <button type="button" class="btn btn-primary" (click)="(myrepo())">Repository</button>
          <div class="card-body" *ngFor="let myrepo of myrepos">
            <p>{{myrepo.name}}<a href="{{myrepo.html_url}}" target="_blank">view</a></p>
            <p>{{myrepo.description}}</p>
            <p>{{myrepo.url}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>