<div class="container">
  <app-github-form></app-github-form><br><br>
  <router-outlet></router-outlet>
  <div class="jumbotron">
    <div class="row col-md-12">
      <div class="col-md-6">
        <figure>
          <a href="https://github.com/mangowilliam"><img src="assets/machakura.jpg"></a><br>
          <a href="https://github.com/mangowilliam">
            <figcaption>mangowilliam</figcaption>
          </a>
        </figure>
        <p>followers 1</p>
        <p>following 1</p>
      </div>
      <div class="col-md-6">
        <h2>repositories</h2>
        <ol>
          <a href="https://github.com/mangowilliam/Github-search">
            <li>githuserch</li>
          </a>
          <a href="https://github.com/mangowilliam/Quotes">
            <li>quotes</li>
          </a>
          <a href="https://github.com/mangowilliam/goals">
            <li>goals</li>
          </a>
          <a href="https://github.com/mangowilliam/pig-dice-game">
            <li>pig-dice-game</li>
          </a>
          <a href="https://github.com/mangowilliam/demango-studio">
            <li>demango studio</li>
          </a>
          <a href="https://github.com/mangowilliam/hello-world-1">
            <li>hello-world-1</li>
          </a>
          <a href="https://github.com/mangowilliam/jsflashcard">
            <li>jsflashcard</li>
          </a>
          <a href="https://github.com/mangowilliam/Triangle-Tracker">
            <li>triangle-tracker</li>
          </a>
          <a href="https://github.com/mangowilliam/branching">
            <li>branching</li>
          </a>
          <a href="https://github.com/mangowilliam/hello-world">
            <li>hello-world</li>
          </a>
        </ol>
      </div>
    </div>
  </div>
</div>