<div class="container">
  <div class="container-fluid">
    <form class="search">
      <div class=" form-group">
        <label for="name"> GITHUb SEARCH</label>
        <a href="https://github.com/mangowilliam"><img src="./assets/git.png" /></a>
        <input type="search" class="form-control" [(ngModel)]="username" name="username" placeholder=" git name ....." (keyup)="getgit()" />
        <button type="button" class="btn btn-success" (click)="profile()">
          my profile
        </button>
      </div>
    </form>
  </div>
  <div class="jumbotron">
    <div class="row">
      <div class="column">
        <div *ngIf="profile">
          <h1 appStrikethrough>{{ profile.name | uppercase }}</h1>
          <p>
            profile has been here for {{ profile.created_at | dateCount }} days
          </p>
          <p>
            <a href="{{ profile.html_url }}" target="blank">{{
              profile.login
            }}</a>
          </p>
          <img src="{{ profile.avatar_url }}" width="200px" height="200px" class="img-circle img-responsive" alt="user-image" /><br />
          <p>Date {{ profile.created_at }}</p>
          <p>{{ profile.bio }}</p>
          <p>{{ profile.blog }}</p>
          <p>{{ profile.email }}</p>
          <p>{{ profile.url }}</p>
          <p>{{ profile.folloers }}</p>
          <p>{{ profile.following }}</p>
          <p>
            <a href="{{ profile.html_url }}" class="btn btn-success" target="blank">View in Github</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>