.container-fluid img {
  width: 35px;
  height: 35px;
  display: inline;
}

.site-header {}

.container-fluid button {
  float: right;
}

.container-fluid form-group {
  display: inline;
}

body {
  background-image: url('logo.png');
}